<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}  
            <p> This site was created by Aman Chadha. It uses data from mapbox and darksky</p>                     
            <img class="portrait" src = "/PANCARD COPY 1.PNG">
            </div>
            
            {{>footer}}
        </body>
    
        
</html>